<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="edit-user-title">
      <h3>Editing Group</h3>
    </div>
    <% if @group.errors.any? %>
      <div class="error-messages">
        <h3 class="error-message-title"><%= @group.errors.count %> error prohibited this obj from being saved:</h3>
        <% @group.errors.full_messages.each do |message| %>
          <li class="error-message-content"><%= message %></li>
        <% end %>
      </div>
    <% end %>
    <div class="edit-user-form">
      <%= form_with model: @group, url: group_path(@group), local:true do |f| %>
        <p>グループ名</p>
        <%= f.text_field :name, class: "edit-user-formfield form-control" %>
        <p>紹介文</p>
        <%= f.text_area :introduction, class: "edit-user-formfield form-control" %>
        <p>グループ画像</p>
        <%= f.attachment_field :image, class: "edit-user-formfield" %>
        <%= f.submit 'Update Group', class: "btn btn-info btn-block" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>