<div class="row">
  <%= render "layouts/sidebar", user: current_user, new_book: @new_book %>
  <div class="col-md-8 offset-md-1">
    <h2>Groups</h2>
    <%= link_to "グループを作成する", new_group_path %>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>グループ名</th>
          <th>紹介文</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td>
              <%= attachment_image_tag group, :image, fallback: "no_image.jpg", size:'40x40', class: "mainbar-profile-image" %>
            </td>
            <td>
              <%= link_to group.name, group_path(group) %>
            </td>
            <td>
              <%= group.introduction %>
            </td>
            <td>
              <% if group.owner_id == current_user.id %>
                <%= link_to "Edit", edit_group_path(group.id), class: "btn btn-success" %>
              <% elsif current_user.join?(group) %>
                <%= link_to "Leave this group", leave_group_path(group.id), method: :delete, class: "btn btn-outline-danger" %>
              <% else %>
                <%= link_to "Join this group", join_group_path(group.id), method: :post, class: "btn btn-outline-success" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>