<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="edit-user-title">
      <h3>Editing Book</h3>
    </div>
    <% if @book.errors.any? %>
      <div class="error-messages">
        <h3 class="error-message-title"><%= @book.errors.count %> error prohibited this obj from being saved:</h3>
        <% @book.errors.full_messages.each do |message| %>
          <li class="error-message-content"><%= message %></li>
        <% end %>
      </div>
    <% end %>
    <div class="edit-user-form">
      <%= form_with model: @book, url: book_path(@book), local:true do |f| %>
        <p>Title</p>
        <%= f.text_field :title, class: "form-control" %>
        <p>Opinion</p>
        <%= f.text_area :body, class: "form-control" %>
        <p class="new-book-form-title">Category</p>
        <%= f.text_field :tag_list, value: @book.tag_list.join(","), class: "new-book-formfield" %>
        <div id="star-rate-<%= @book.id %>" class="my-3"></div>
        <%= f.submit 'Update Book', class: "btn btn-success btn-block" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<script>
  $('#star-rate-<%= @book.id %>').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    readOnly: true,
    score: "<%= @book.rate %>"
  });
</script>