<div class="row">
  <%= render "layouts/sidebar", user: @user, new_book: @new_book %>
  <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class="table">
        <tr>
          <td>
            <%= attachment_image_tag @book.user, :profile_image, fallback: "no_image.jpg", size:'40x40', class: "mainbar-profile-image" %><br>
            <%= link_to @book.user.name, user_path(@book.user) %>
          </td>
          <td>
            <%= link_to @book.title, book_path(@book.id) %>
          </td>
          <td>
            <%= @book.body %>
          </td>
          <td>
            <%= render "layouts/tag_list", tag_list: @book.tag_list %>
          </td>
          <td id="favorite_buttons_<%= @book.id %>">
            <%= render "layouts/favorite", book: @book %>
          </td>
          <td>
            コメント数：<%= @book.book_comments.count %>
          </td>
          <td id="star-rate-<%= @book.id %>">
          </td>
          <% if current_user.id == @book.user.id %>
          <td>
            <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %>
          </td>
          <td>
            <%= link_to "Destroy", book_path(@book.id), method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-danger" %>
          </td>
          <% end %>
        </tr>
    </table>
    <div class="row">
      <div class="col-lg-8">
        <h3 class="border-bottom">Comments</h3>
        <div id="comment-index-box">
          <%= render "layouts/comments", book: @book %>
        </div>
        <div id="comments-form">
          <%= render "layouts/comments_form", book: @book, book_comment: @book_comment %>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</div>
<script>
  $('#star-rate-<%= @book.id %>').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    readOnly: true,
    score: "<%= @book.rate %>"
    //注目ポイント↑ 平均点を算出し、round関数で切り上げ
  });
</script>